:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --header-bg-color: #f0f0f0;
    --button-bg-color: #007bff;
    --button-text-color: #ffffff;
    --nav-bg-color: #ffffff;
    --nav-text-color: #000000;
    --nav-hover-bg-color: #f0f0f0;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
}

header {
    background-color: var(--header-bg-color);
    padding: 20px;
    text-align: center;
    transition: background-color 0.5s;
}

.info {
    padding: 20px;
    text-align: center;
}

button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s;
}

button:hover {
    background-color: darken(var(--button-bg-color), 10%);
}

.toggle-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.toggle-button:focus {
    outline: none;
}

.dark-mode {
    --bg-color: #181818;
    --text-color: #f0f0f0;
    --header-bg-color: #282828;
    --button-bg-color: #505050;
    --button-text-color: #f0f0f0;
    --nav-bg-color: #282828;
    --nav-text-color: #f0f0f0;
    --nav-hover-bg-color: #383838;
}

nav {
    background-color: var(--nav-bg-color);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    margin: 10px 0;
}

nav ul li button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;
}

nav ul li button:hover {
    transform: scale(1.1);
    background-color: var(--nav-hover-bg-color);
}
